html {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 100vw;
}

header a {
  text-decoration: none;
}

header .header-button {
  background-color: #4DC3F9;
  width: 235px;
  height: 40px;
  margin: 30px auto;
  display: block;
  border: none;
  border-radius: 6px;
  color: #ffffff;
}

header img {
  width: 150px;
  margin: 30px auto;
  display: block;
}

.cohort-picture {
  width: 100vw;
  height: 410px;
  background-image: url("../img/squad.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -110px;
}

.cohort-title {
  font-size: 35px;
  color: white;
}

#bootcamp-program {
  padding: 0 35px;
}

.intro-program h1 {
  font-family: 'Roboto mono', sans-serif;
  font-size: 32px;
  text-align: center;
  color: #2D354C;
}

.intro-program p {
  font-size: 18px;
  color: #818693;
  line-height: 30px;
}

.card-program {
  background-color: #F8F8F8;
  border-radius: 6px;
  text-align: center;
  padding: 24px;
  margin-bottom: 35px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-program .card-time {
  color: #EC3A35;
  font-size: 14px;
}

.card-program .card-title {
  font-family: 'Roboto mono', sans-serif;
  font-size: 28px;
  line-height: 30px;
}

.card-program .card-schedule {
  color: #818693;
  font-size: 20px;
  line-height: 32px;
}

#bootcamp-figures {
 background-color: #4DC3F9;
 padding: 20px;
}

h2 {
  font-size: 30px;
  font-family: 'Roboto mono', sans-serif;
  text-align: center;
  line-height: 40px;
  font-weight: 500;
  margin-top: 0;
}

h2.figures-title {
  color: #ffffff;
}

.figures-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.figures-wrapper .figure {
  flex: 0 0 50%;
  text-align: center;
  font-size: 90px;
  font-family: 'Roboto mono', sans-serif;
  margin-bottom: 20px;
}

.figures-wrapper .figure span {
  font-size: 20px;
  display: block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.projects-wrapper {
  padding: 0 35px;
}
.card-project {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
}
.card-project img {
  width: 100%;
  border-radius: 6px;
}
.card-project h3 {
  padding: 0 0 10px 10px;
  font-size: 20px;
}

.students-wrapper, .teachers-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.student, .teacher {
  text-align: center;
  padding:8px;
}
.student-name, .teacher-name {
  font-size: 18px;
  font-family:'Roboto mono', sans-serif;
  margin-bottom: 0;
}
.student-tagline, .teacher-tagline {
  font-size: 14px;
  color:#818693;
}

#bootcamp-students {
  padding: 20px 0;
}

#bootcamp-projects, #bootcamp-teachers {
  background-color: #F8F8F8;
  padding: 20px 0;
}

footer {
  background-color: #4DC3F9;
  padding-top: 35px;
  padding-bottom: 30px;
}

footer h2 {
  color: white;
}

footer a {
  text-decoration: none;
}

.footer-button {
  background-color: #white;
  width: 235px;
  height: 40px;
  margin: 30px auto;
  display: block;
  border: none;
  border-radius: 6px;
  color: #4DC3F9;
}

@media all and (min-width: 750px) {
    .cohort-picture {
      height: 620px;
    }
    .cohort-title {
      font-size: 70px;
    }
    .cards-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .card-program {
      width: 42%;
    }
    .figures-wrapper .figure {
      flex-basis:25%;
    }
    .projects-wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 80vw;
      margin: 0 auto;
    }
    .card-project {
      width: 45%;
      margin: 20px 10px;
    }
    .card-project h3 {
      padding: 0 0 0 20px;
    }
    .students-wrapper, .teachers-wrapper {
      width: 80vw;
      margin: 0 auto;
    }
    .student, .teacher {
      padding: 20px;
    }
    .header-button {
      position: absolute;
      right: 40px;
      top: 10px;
    }
}

@media all and (min-width: 1024px) {
  .card-program {
    width: 44%;
  }
  .card-project {
    width: 30%;
    margin: 20px 10px;
  }
}




















/*
header a {
  text-decoration: none;
}

header a button {
  color: white;
  height: 40px;
  width: 235px;
  background-color: #00b4fe;
  border: none;
  border-radius: 6px;
  margin: 30px auto;
  display: block;
}

header img {
  width: 150px;
  margin: 10px auto;
  display: block;
}

.squad-picture {
  background-image: url("../img/squad.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 375px;
}

*/
